<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>


<h1>Welcome {{ .Name }}!</h1>
<h2>{{ .TutorID }}</h2>

<table>
    <tr>
        <th colspan="2">Modules Taught</th>
    </tr>
    {{ range .ModulesList}}
    <tr>
        <td>{{.ModuleCode}}</td>
        <td>{{.ModuleName}}</td>
    </tr>
    {{end}}
</table>

<br>

<table>
    <tr>
        <th colspan="3">Classes Taught</th>
    </tr>
    {{range .ClassesList}}
    <tr>
        <td>{{.ClassCode}}</td>
        <td>{{.Schedule}}</td>
        <td>{{.Capacity}}</td>
    </tr>
    {{end}}
</table>

<br>

<table>
    <tr>
        <th colspan="5">Students</th>
    </tr>
    <tr>
        <th>Module Code</th>
        <th>Class Code</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Enter Marks</th>
    </tr>
    {{ range .StudentsList}}
    <tr>
        <td>{{.ModuleEnrolled}}</td>
        <td>{{.ClassForModule}}</td>
        <td>{{.StudentID}}</td>
        <td>{{.StudentName}}</td>
        <td>
            <form action="http://localhost:8120/marksEntry/:{{.StudentID}}" method="POST">
                <input type="text" placeholder="Marks" name="Marks">
                <a><input class="submit" type="submit" value="Submit"></a>
            </form>
        </td>
    </tr>
    {{end}}
</table>
